{% extends 'header.html' %}
{% block content %}

{% block title %}
    CV  
{% endblock title %}

{% comment %} <a href="{% url 'generatepdf' %}" class='btn btn-primary'>generatepdf</a> {% endcomment %}

<div class="resume">
  <div class="resume_left">
    <div class="resume_profile">
      <img src="https://i.imgur.com/eCijVBe.png" alt="profile_pic">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">Rajan Bhandari</p>
         
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              12 Bharatpur, chitwan <br /> Nepal 
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              +977 9865177862
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              rajanbhandari939@gmail.com
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-weebly"></i>
            </div>
            <div class="data">
              www.rajan2rajan.com
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">
              HTML
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          <li>
            <div class="skill_name">
              CSS
            </div>
            <div class="skill_progress">
              <span style="width: 10%;"></span>
            </div>
            <div class="skill_per">10%</div>
          </li>
          
          <li>
            <div class="skill_name">
              Python
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          
        </ul>
      </div>
      <div class="resume_item resume_social">
        <div class="title">
          <p class="bold">Social</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fab fa-facebook-square"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Facebook</p>
              <p>Rajan bhandari@facebook</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-twitter-square"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Twitter</p>
              <p>Rajan Bhandari@twitter</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Linkedin</p>
              <p>Rajan Bhandari@linkedin</p>
            </div>
          </li>
          <li>
              <div class="icon">
                <i class="fab fa-github"></i>
              </div>
              <div class="data">
                <p class="semi-bold">github</p>
                <p>rajan2rajan@linkedin</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
   </div>
   <div class="resume_right">
     <div class="resume_item resume_about">
         <div class="title">
            <p class="bold">About us</p>
          </div>
         <p>I am fresher backend developer with a passion for blockchain technology. Currently, I am pursuing a BSc CSIT degree and currently studying in 8th semester.</p>
     </div>
     <div class="resume_item resume_work">
         <div class="title">
            <p class="bold">Work Experience</p>
          </div>
         <ul>
             <li>
                 <div class="date">2013 - 2015</div> 
                 <div class="info">
                      <p class="semi-bold">Lorem ipsum dolor sit amet.</p> 
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                 </div>
             </li>
             <li>
               <div class="date">2017 - Present</div>
               <div class="info">
                      <p class="semi-bold">Lorem ipsum dolor sit amet.</p> 
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                 </div>
             </li>
         </ul>
     </div>
     <div class="resume_item resume_education">
       <div class="title">
            <p class="bold">Education</p>
          </div>
       <ul>
            <li>
                 <div class="date">2072 B.S</div> 
                 <div class="info">
                      <p class="semi-bold">Zenith Higher Secondary Boarding School</p> 
                   <p>Accounting  , Optional Math </p>
                 </div>
             </li>
             <li>
              <div class="date">2073 - 2075 B.S</div> 
              <div class="info">
                   <p class="semi-bold">Prerana Secondary English Boarding School </p> 
                <p>Biology , Mathematics</p>
              </div>
          </li>
             <li>
               <div class="date">2075 - present B.S</div>
               <div class="info">
                      <p class="semi-bold">Birendra Multiple Campus</p> 
                   <p>Systems Analysis and Design, Artificial Intelligence, Microprocessor, Compiler and Design,
                    Simulation and Modeling</p>
                 </div>
             </li>
         </ul>
     </div>
     <div class="resume_item resume_hobby">
       <div class="title">
            <p class="bold">Hobby</p>
          </div>
        <ul>
          <li><i class="fas fa-book"></i></li>
          <li><i class="fas fa-gamepad"></i></li>
          <li><i class="fas fa-music"></i></li>
          <li><i class="fab fa-pagelines"></i></li>
       </ul>
     </div>
   </div>
 </div>

{% endblock content %}