{% extends 'header.html' %}

{% block title %}
    CV 
{% endblock title %}

{% block content %}
{% comment %} <a href="{% url 'generatepdf' %}" class='btn btn-primary'>generatepdf</a> {% endcomment %}

<div class="resume">
  <div class="resume_left">
    <div class="resume_profile">
      <img src="https://scontent.fbir5-1.fna.fbcdn.net/v/t1.15752-9/353077161_1054633322166056_9172009944130366501_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Cbm6o_SqAikAX8HP3jp&_nc_ht=scontent.fbir5-1.fna&oh=03_AdTIH4DLkzm2olRCYTE9PN_WsYbLhFVjSwj7Qfw2IOemhw&oe=64A97A49" alt="profile_pic">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">Rajan Bhandari</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              10 Bharatpur, chitwan <br />
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              +977 9865177862
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              rajanbhandari939
            </div>
          </li>         
        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">
              HTML
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          <li>
            <div class="skill_name">
              CSS
            </div>
            <div class="skill_progress">
              <span style="width: 10%;"></span>
            </div>
            <div class="skill_per">10%</div>
          </li>
          
          <li>
            <div class="skill_name">
              Python
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          <li>
            <div class="skill_name">
              Rust
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          <li>
            <div class="skill_name">
              Djagno
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          <li>
            <div class="skill_name">
              Djagno Rest Framework
            </div>
            <div class="skill_progress">
              <span style="width: 40%;"></span>
            </div>
            <div class="skill_per">40%</div>
          </li>
          <li>
            <div class="skill_name">
              MySql
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>
          <li>
            <div class="skill_name">
              Postman
            </div>
            <div class="skill_progress">
              <span style="width: 60%;"></span>
            </div>
            <div class="skill_per">60%</div>
          </li>
          <li>
            <div class="skill_name">
              C++
            </div>
            <div class="skill_progress">
              <span style="width: 50%;"></span>
            </div>
            <div class="skill_per">50%</div>
          </li>

          
        </ul>
      </div>
      <div class="resume_item resume_social">
        <div class="title">
          <p class="bold">Social</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fab fa-facebook-square"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Facebook</p>
              <p><a href="https://www.facebook.com/rajan.bhandari.520562/">Rajan bhandari</a></p>
            </div>
          </li>
          
          <li>
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Linkedin</p>
              <p><a href="">Rajan Bhandari</a></p>
            </div>
          </li>
          <li>
              <div class="icon">
                <i class="fab fa-github"></i>
              </div>
              <div class="data">
                <p class="semi-bold">github</p>
                <p><a href="https://github.com/rajan2rajan">rajan2rajan</a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
   </div>
   <div class="resume_right">
     <div class="resume_item resume_about">
         <div class="title">
            <p class="bold">About me

            </p>
          </div>
         <p>I am fresher backend developer with a passion for blockchain technology. Currently, I am pursuing a BSc CSIT degree and currently studying in 8th semester.</p>
    </div>
    <div class="resume_item resume_work">
         <div class="title">
            <p class="bold">Work Experience</p>
          </div>
         <ul>
             <li>
               <div class="date">6 months</div>
               <div class="info">
                      <p class="semi-bold">intelzy</p> 
                   <p>work there as a fresher and also technical support</p>
                 </div>
             </li>
         </ul>
    </div>

    <div class="resume_item resume_work">
      <div class="title">
         <p class="bold">Projects</p>
       </div>
      <ul>
          <li>
            EG Deal Online shopping
          </li>
          <li>
            Prasnauttar:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <a href="https://prasnauttar.blogspot.com">https://prasnauttar.blogspot.com</a>
          </li>
          <li>
            EG-Lesson :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="https://eglesson.com">https://eglesson.com</a>
          </li>         
          <li>
            foralllevel :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="https://foralllevel.blogspot.com">https://foralllevel.blogspot.com</a>
          </li>
          <li>
            for more :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <a href="https://github.com/rajan2rajan">github</a>
          </li>
          
      </ul>
 </div>




     <div class="resume_item resume_education">
       <div class="title">
            <p class="bold">Education</p>
          </div>
       <ul>
            <li>
                 <div class="date">2072 B.S</div> 
                 <div class="info">
                      <p class="semi-bold">Zenith Higher Secondary Boarding School</p> 
                   <p>Accounting  , Optional Math </p>
                 </div>
             </li>
             <li>
              <div class="date">2073 - 2075 B.S</div> 
              <div class="info">
                   <p class="semi-bold">Prerana Secondary English Boarding School </p> 
                <p>Biology , Mathematics</p>
              </div>
          </li>
             <li>
               <div class="date">2075 - present B.S</div>
               <div class="info">
                      <p class="semi-bold">Birendra Multiple Campus</p> 
                   <p>Systems Analysis and Design, Artificial Intelligence, Microprocessor, Compiler and Design,
                    Simulation and Modeling</p>
                 </div>
             </li>
         </ul>
     </div>
     <div class="resume_item resume_hobby">
       <div class="title">
            <p class="bold">Hobby</p>
          </div>
        <ul>
          <li><i class="fas fa-book"></i></li>
          <li><i class="fas fa-gamepad"></i></li>
          <li><i class="fas fa-music"></i></li>
          <li><i class="fas fa-code"></i></li>
       </ul>
     </div>
   </div>
 </div>

{% endblock content %}