{% extends 'header.html' %}
{% block title %}
      Home
{% endblock title %}

{% block content %}

<main class="container-fluid main-container" >
    <figure class="sticky-image">
      <img src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="rajan bhandari">
    </figure>
    <article class="main-container-body  home_article" data-aos="zoom in" data-aos-delay="100"  data-aos-duration="1000">
      <h1>Rajan Bhandari</h1>
      <p>I am backend developer with django framework and mySQL database</p>
      <a class="btn " href="{% url 'about' %}">About me</a>
    </article>
  </main>


{% endblock content %}
  